package com.${projectName}.entity;

import com.${projectName}.base.BaseEntity;
import javax.persistence.*;
import java.io.Serializable;
import org.hibernate.annotations.GenericGenerator;

@Entity
@Table(name="${table_name}", schema = "${db_name}")
public class ${tableNameII} extends BaseEntity<String> implements Serializable{
    #foreach($item in $columnlist)
        #if(!$item.column_name.equals("create_time") &&
        !$item.column_name.equals("update_time") &&
        !$item.column_name.equals("create_by") &&
        !$item.column_name.equals("update_by") &&
        !$item.column_name.equals("del_tag")     &&
        !$item.column_name.equals($id_name))
            ${item.desc}

            private ${item.type} ${item.columnName};
        #end
    #end
    public  ${tableNameII} (){
    super();
    }
    @Id
    @GeneratedValue(generator = "uuid")
    @GenericGenerator(name = "uuid", strategy = "uuid")
    @Column(name = "${id_name}", nullable = false, length = 32)
    public String getId() {
    return id;
    }

    public void setId(String id) {
    this.id = id;
    }
    #foreach($item in $columnlist)
        #if(!$item.column_name.equals("create_time") &&
        !$item.column_name.equals("update_time") &&
        !$item.column_name.equals("create_by") &&
        !$item.column_name.equals("update_by") &&
        !$item.column_name.equals("del_tag")     &&
        !$item.column_name.equals($id_name))
            public void set${item.columnNameII}(${item.type} ${item.columnName}){
            this.${item.columnName} = ${item.columnName};
            }
            @Basic
            @Column(name = "${item.column_name}")
            public ${item.type} get${item.columnNameII}(){
            return this.${item.columnName};
            }
        #end

    #end


    }